#hero {
  background: var(--clr-black-2);
  background-image: url(../img/hero.jpg);
  background-size: cover;
  height: 95vh;
}

.hero-content {}

.hero-title {
  font-weight: 700;
  letter-spacing: 2px;
  font-size: 3rem;
}

.hero-text {
  font-weight: 200;
  font-size: 0.9rem;
}