#navbar {
  height: 80px;
  position: fixed;
  top: 0;
  width: 100dvw;

  .dropdown-menu {
    position: absolute;
  }
}

.dropdown-icon {

  &::before,
  &::after {
    content: '';
    display: inline-block;
    background: var(--clr-white);
    width: 9px;
    height: 2px;
    transition: all 0.3s ease;
  }

  &::before {
    margin-left: 3px;
    transform: translateY(-4px) rotate(45deg);
  }

  &::after {
    transform: translateY(-4px) translateX(-4px) rotate(-45deg);
  }
}

.dropdown-menu {
  width: 10rem;
  overflow: hidden;
  padding-left: 1rem;
  height: 0;
  opacity: 0;
  transition: all ease 0.3s;
}

.dropdown:hover {
  & .dropdown-menu {
    height: auto;
    opacity: 1;
    padding: 1rem;
  }

  & .dropdown-icon::before,
  & .dropdown-icon::after {
    background: var(--clr-alert);
  }

  & .dropdown-icon::before {
    transform: translateY(-4px) rotate(-45deg);
  }

  & .dropdown-icon::after {
    transform: translateY(-4px) translateX(-4px) rotate(45deg);
  }
}

@media (width > 980px) {
  #navbar {
    outline: 1px solid red;
  }
}