#navbar {
  /* background: var(--clr-black); */
  height: 80px;
  position: fixed;
  top: 0;
  width: 100dvw;

  & ul {
    margin: 0;
  }


  #menu-obras {
    position: absolute;
    color: white;
  }
}

.dropdown {
  &::after {
    margin-left: 5px;
    content: '▼';
  }
}

.dropdown-menu {
  width: 10rem;
  overflow: hidden;
  padding-left: 1rem;
  height: 0;
  opacity: 0;
  transition: all ease 0.3s;
}

.dropdown:hover .dropdown-menu {
  height: auto;
  opacity: 1;
  padding: 1rem;
}