@import './_util.css';

/* ------ Headers ------  */
.h1 {
  font-size: 2rem;
  letter-spacing: .5rem;
}

/* ------ Fonts families ------  */
.ff-hand {
  font-family: var(--font-hand);
}

.ff-sec {
  font-family: var(--font-secondary);
}

/* ------ Display ------  */
.d-flex {
  display: flex;
}

.d-grid {
  display: grid;
}

.d-none {
  display: none;
}

/* ------ Align items ------  */
.align-items-center {
  align-items: center;
}

/* ------ Justify content ------  */
.justify-content-between {
  justify-content: space-between;
}

.justify-content-center {
  justify-content: center;
}

/* ------ Margin ------ */
.mb-2 {
  margin-bottom: 2rem !important;
}

.mb-1 {
  margin-bottom: 1rem !important;
}

.mt-1 {
  margin-top: 1rem !important;
}

.ms-auto {
  margin-inline-start: auto !important;
}

.ms-15 {
  margin-inline-start: 1.5rem !important;
}

/* ------ Padding ------ */
.px-4 {
  padding-inline: 4rem !important;
}

.p-1 {
  padding: 1rem !important;
}

/* ------ Gap ------ */
.g-1 {
  gap: 1rem;
}

.g-15 {
  gap: 1.5rem;
}

.g-2 {
  gap: 2rem;
}

.g-3 {
  gap: 2.5rem;
}

/* ------ Text colors ------ */
.txt-white {
  color: var(--clr-white);
}

.txt-black {
  color: var(--clr-black-3);
}

/* ------ Text align ------ */
.txt-center {
  text-align: center;
}

.txt-justify {
  text-align: justify;
}

.txt-start {
  text-align: start;
}

/* ------ Text ------  */
.txt-upper {
  text-transform: uppercase;
}

.txt-cap {
  text-transform: capitalize;
}

/* ------ Text Weight ------ */

.fw-500 {
  font-weight: 500;
}

.fw-600 {
  font-weight: 600;
}

.fw-700 {
  font-weight: 700;
}

.fs-08 {
  font-size: 0.8rem;
  line-height: 0.8rem;
}

.fs-06 {
  font-size: 0.6rem;
  line-height: 0.6rem;
}

/* ------ Background colors ------ */
.bg-black-1 {
  background: var(--clr-black-1);
}

.bg-black-0 {
  background: var(--clr-black-0);
}

.bg-white {
  background: var(--clr-white);
}

/* ------ Otros ------  */
.link {
  transition: var(--t-link) all ease;
  cursor: pointer;
  align-self: center;
  white-space: nowrap;
}

.link:hover {
  color: var(--clr-alert);
}