@import './_util.css';

/* ------ Headers ------  */
.h1 {
  font-size: 2rem;
  letter-spacing: .5rem;
}

/* ------ Fonts families ------  */
.ff-hand {
  font-family: var(--font-hand);
}

/* ------ Display ------  */
.d-flex {
  display: flex;
}

.d-grid {
  display: grid;
}

/* ------ Align items ------  */
.align-items-center {
  align-items: center;
}

/* ------ Justify content ------  */
.justify-content-between {
  justify-content: space-between;
}

.justify-content-center {
  justify-content: center;
}

/* ------ Margin ------ */
.mb-2 {
  margin-bottom: 2rem;
}

/* ------ Padding ------ */
.px-4 {
  padding-inline: 4rem;
}

.p-1 {
  padding: 1rem;
}

/* ------ Gap ------ */
.g-1 {
  gap: 1rem;
}

.g-15 {
  gap: 1.5rem;
}

.g-2 {
  gap: 2rem;
}

.g-3 {
  gap: 2.5rem;
}

/* ------ Text colors ------ */
.txt-white {
  color: var(--clr-white);
}

.txt-black {
  color: var(--clr-black-3);
}

/* ------ Text align ------ */
.txt-center {
  text-align: center;
}

.txt-justify {
  text-align: justify;
}

.txt-start {
  text-align: start;
}

/* ------ Text ------  */
.txt-upper {
  text-transform: uppercase;
}

/* ------ Background colors ------ */
.bg-black-1 {
  background: var(--clr-black-1);
}

.bg-black-0 {
  background: var(--clr-black-0);
}

.bg-white {
  background: var(--clr-white);
}

/* ------ Otros ------  */
.link {
  transition: var(--t-link) all ease;
  cursor: pointer;
}

.link:hover {
  color: var(--clr-alert);
}